// Place all the styles related to the emails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body{
  display: flex;
}
.liste{
  flex: 1;
  background-color: grey
}
.contenu_email{
  flex: 4;
  background-color: black;
  color: white;
}
