<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Email</title>
  </head>
  <body>
    <div class="liste">
      <h1>Email reçu</h1>
      <ul id="object">
        <% @emails.each do |email| %>
          <li>
            <%= link_to email.object%>
          </li>
        <% end %>
    </div>
    <div class="contenu_email">
      <ul id="corp">
        <% @emails.each do |email| %>
          <li>
            <%= link_to email.body %>
          </li>
        <% end %>
    </div>
    </div>
  </body>
</html>
